<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tu_darmstadt.smastra">

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/arrow_up_float"
        android:label="SmaStraAAR"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

    </application>

</manifest>
